html, body
{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #FFFFFF;
}

#container
{
  width: 100%; 
  height: 100%;    
  background-color: white;
}

.icon
{
  float: left;
  width: 15%;
  height: 100%;
  padding-left: 2%;
}

.text
{
  
  font-size: 100%;
  font-family: "Verdana";
}

.vacancy
{
  float: left;
  width: 100%;
  height: 10%;
  color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  text-indent: 5%;
}

.input
{
  height: 0%;
  text-align: center;
  color: #0094d0;
  font-weight: bold;
}

#header
{
  font-weight: bold;
  float: left;
  width: 100%;
  height: 12%;
  background-color: #0094d0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

#logo
{
  float: left;
    width: 15%;
    height: 100%;
    padding-left: 2%;
    padding-bottom: 2%;
}

#backbutton
{
  float: left;
    width: 15%;
    height: 100%;
  display: none;
}

#main
{
    float: left;
    width: 100%;
    height: 85%;
    background-color: white;
    overflow: auto;
}

#main2
{
    float: left;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  text-indent: 5%;
    overflow: auto;
}



#chosenVacancy
{
    float: left;
    width: 100%;
    height: 100%;
  background-color: #FFFFFF;
  color: #0094d0;
}

#footer
{
    float: left;
  margin-top: 5%;
  width: 100%;
  height: 5%;
  background-color: #0094d0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0%;
}

.footer
{
    float: left;
  margin-top: 5%;
  width: 100%;
  height: 15%;
  background-color: #0094d0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0%;
}

#popUpScreen
{
    float: left;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  background-color: #0094d0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 5%;
}

#infoText
{
    float: left;
  color: #0094d0;
  font-weight: normal;
  font-size: 100%;
}
